a {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #55585a;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    line-height: 40px;
}

a:hover {
    background-color: #ff6700;
}